.stories-container {
  width: 100%;
  height: 100px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin-top: 30px;
  border: 1px solid rgba(var(--b6a,219,219,219),1);
  border-radius: 5px;
  overflow-x: hidden;
}

.stories-container ul {
  width: 100%;
  height: 85%;
  display: flex;
  margin: 0;
  padding: 0 15px;
  overflow-x: auto;
}

.stories-container ul::-webkit-scrollbar {
  display: none;
}
 
.stories-container ul::-webkit-scrollbar-track {
  display: none;
}
 
.stories-container ul::-webkit-scrollbar-thumb {
  display: none;
}

.stories-container ul li {
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0 15px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
}

.stories-container ul li img {
  height: 55px;
  border-radius: 50%;
  background-color: rgba(var(--b3f,250,250,250),1);
  padding: 2px;
}

.storySeen {
  border: 2px solid #222;
}

.storyActive {
  border: 2px solid #ff7675;
}

.stories-container ul li p {
  color: #222;
  margin: 0;
  padding: 0;
}