.feed-container {
  width: 65%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.feed-main-content {
  width: 65%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.suggestions-follow {
  width: 35%;
  height: 200px;
  background-color: teal;
  /* display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: red; */
}